@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-blue-4: hsl(180, 66%, 49%);
  --color-purple-95: hsl(257, 27%, 26%);
  --color-red-4: hsl(0, 87%, 67%);
  --color-gray-4: hsl(0, 0%, 75%);
  --color-gray-5: hsl(257, 7%, 63%);
  --color-ray-9: hsl(255, 11%, 22%);
  --color-gray-95: hsl(260, 8%, 14%);

  --font-poppins: "Poppins", sans-serif, system-ui;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-size: 1.125rem;
}
